.movie-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 40px;
}

.back-btn {
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

.movie-card__wrapper {
    margin-top: 50px;
}

.movie-card-img {
    height: 500px;
    width: 300px;
    object-fit: contain;
}

.movie-desc__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.movie-desc {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFFFFF;
}

span {
    color: #F5C518;
}

.movie-plot {
    margin-bottom: 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFFFFF;
}